/* You can add global styles to this file, and also import other style files */
@use '~@angular/material' as mat;

@include mat.core();
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body .mat-typography {
  margin: 0;
  font-family: Roboto,
  "Helvetica Neue", sans-serif;
}

app-root {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

